html, body, header, h1, h2, p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 200;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  background-color: #50bbe8;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

body,html {
  height: 100%;
}

.container {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.container-inner {
  padding-bottom: 40px;
  position: relative;
  width: 740px;
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (max-width: 760px) {
  .container-inner {
    padding-bottom: 40px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  font-size: .8em;
}

.cover {
  width: 290px;
}

.cover img {
  box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, .05);
}

@media screen and (max-width: 760px) {
  .cover {
    width: 250px;
    margin: 20px auto;
  }
  .cover img {
    width: 250px;
  }
}

.contents {
  position: absolute;
  top: 100px;
  right: 0;
  width: 400px;
  text-align: left;
}

@media screen and (max-width: 760px) {
  .contents {
    position: static;
    top: 0;
    right: 0;
    width: 100%;
    text-align: left;
  }
}

h1 {
  font-size: 2.7em;
  font-weight: 200;
}

h1 a {
  text-decoration: none;
}

.subtitle {
  font-size: .8em;
  opacity: .5;
}

@media screen and (max-width: 760px) {
  h1, .subtitle {
    text-align: center;
  }
}

.description {
  margin: 20px 0;
}

.author {
  text-align: right;
}

a.download {
  padding: 15px 0;
  text-align: center;
  display: block;
  margin-bottom: 25px;
  background-color: #095787;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 6px;
}

.social iframe {
  margin-right: 10px;
}
